.app {
  text-align: center;
  background-color: black;
  /* max-width: 1440px; */
  height: 2985px;
}

.app__header {
  margin-top: 89px;
  width: 80%;
  object-fit: cover;
  max-height: 700px;
}

@media screen and (max-width: 590px) {
  .app__header {
    margin-top: 60px;
    width: 100%;
  }
  .app {
    height: 1400px;
  }
}
